<div class="fields potentially-hidden" style="background-color: #b0c4de; padding: 20px; margin: 20px; border: 1px; border-style: dotted;">
  <span style="float: right;"><i class="icon-remove remove-child" title="Slett forelder" style="cursor: pointer"></i></span>
  <p>Forelderen</p>
  <%= f.input :name, :label => 'Navn' %>
  <%= f.input :phone, :label => 'Telefon' %>
  <%= f.input :email, :label => 'Epost' %>
  <%= f.input :_destroy, :as => :hidden %>

</div>